.first {
    height: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    align-items: center;
} 
.text {
    background-image: url("../../../images/jailoo.jpg");
    background-position-y: bottom;
    height: 500px;
    padding: 50px;
    width: 100%;
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.text h1{
    width: 700px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0px;
}

.title {
    background-color: turquoise;
    text-align: start;
    color: white;
    width: 900px;
    height: 60px;
}

.imgs {
   margin-top: 100px;
   width: 900px;
   height: 350px;
   border: 1px solid
}

.foto {
    width: 250px;
    height: 250px;
}
