.three {
    width: 1450px;
    height: 2200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: cornsilk;
}

.title_thre {
    height: 400px;
    width: 100%;
}


.one_three {
    height: 400px;
    width: 100%;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/14/aa/22/fe/museum-sulaiman-too.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.two_three {
    height: 400px;
    width: 100%;
    background-image: url("https://www.centralasia-travel.com/uploads/gallery/1440/abshir-ata-07.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.thr_three {
    height: 400px;
    width: 100%;
    background-image: url("https://strannik.kg/assets/cache_image/assets/lib/2020/03/20/sarychekek_01_1600x0_9ab.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.four_three {
    height: 400px;
    width: 100%;
    background-image: url("https://asiamountains.net//assets/cache_image/assets/lib/resized/407/1280x648_0x0_d0b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.five_three {
    height: 400px;
    width: 100%;
    background-image: url("https://sputnik.kg/images/102414/12/1024141270.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.card_three {
    height: 250px;
    width: 800px;
    text-align: start;
}
