.title_vip{
    height: 500px;
    width: 1450px;
    background-image: url("https://www.akchabar.kg/media/news/8ce55d84-8727-4107-8987-4082661a2cc3.jpg.850x445_q82_crop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}