.title_vip{
    height: 300px;
    width: 100%;
    background-image: url("../../../../images/ead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}