.vip {
   height:1000px;
   width:1450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-between;
   background-color:cornsilk;
}

.vip_foto {
    width: 700px;
}

.img {
    height: 400px;
    width: 300px;
}

.title_vip{
    height: 500px;
    width: 1450px;
    background-image: url("https://data.vb.kg/image/big/2020-12-08_17-43-53_426338.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    color: white;
}

@media(max-width:400px) {
    .Vip{
        width:100%;
    }

}