
.title_academi {
    height: 300px;
    width: 100%;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRUiayD0VBWhBW9RPJFgrGzrjlJMFQBtpgiRP5BdsAxAwPMK03z"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: beige;
}

.academi {
    display: flex;
    height: 1000px;
    width: 1450px;
    flex-direction: column;
    align-items: center;
    
}

.car_academi {
    width: 550px;
    text-align: start;
    padding-left: 20px;
}

.card_academi {
    width: 250px;
    height: 160px;
    border-right: 2px solid blue;
    color:tomato;
    text-align: end;
    padding-right: 20px;
}
.card_academi h2 {
        color:tomato;
    }


.cards_academi {
    display: flex;
    width: 600px;
}

@media(max-width: 415px) {
    .Academi{
        width: 100%;
    }
    .academi {
        display: flex;
        height: 850px;
        width: 100%;
    }
    .title_academi {
        height: 100px;
        width: 100%;
    }
    .cards_academi {
        display: flex;
        width: 100%;
    }
    .car_academi {
        width: 200px;
    }
    
    .card_academi {
        width: 100px;
        height: 160px;
    }

}

