.nav{
    height: 300px;
    width: 100%;
    background-image: url("../../../images/ead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.second {
   width: 1450px;
   height: 1400px;
   display: flex;
   flex-direction: column;
   background-color:cornsilk;
}

.avtos {
    display: flex;
    justify-content: space-evenly;
}

.avto div {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    text-align: start;
    align-items: center;
    justify-content: center;
}