.nav{
    height: 500px;
    width: 1450px;
    background-image: url("https://sputnik.kg/images/102366/06/1023660670.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

.second {
   width: 1450px;
   height: 1400px;
   display: flex;
   flex-direction: column;
   background-color:cornsilk;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(https://oir.mobi/uploads/posts/2021-01/1611829134_14-p-biryuzovii-fon-odnotonnii-14.jpg);

}

.avtos {
    display: flex;
    justify-content: space-evenly;
}

.avto div {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    text-align: start;
    align-items: center;
    justify-content: center;
}

@media(max-width:415px) {
    .Second{
        width: 100%;
    }
    .second{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .nav{
        height: 100px;
        width: 100%;
    }

    .avtos {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: bolder;
       

    }
    .avto div{
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 150px;
        font-size: 11px;
        text-align: center;
        font-weight: bolder;
        
    }  
}