.title_card{
    height: 300px;
    width: 1450px;
    background-image: url("https://gdb.rferl.org/61E2BBF4-8A81-407E-8DDE-907CCD048DD3_cx0_cy5_cw0_w1200_r1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}